<section>
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h1 class="display-5">You are in the Pantry coach of the train!</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col text-center py-3">
        <h2>Feeling hungry are we?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center card border-dark">
          <div class="card-body text-dark">
            <p class="card-text">Cold Drinks available right now ...</p>
          </div>
          <ul class="list-group list-group-flush">
            <ng-container *ngFor="let coldDrink of coldDrinksAvailable">
              <li class="list-group-item list-group-item-action">{{coldDrink}}</li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center card border-dark">
          <div class="card-body text-dark">
            <p class="card-text">Hot Beverages available right now ...</p>
          </div>
          <ul class="list-group list-group-flush">
            <ng-container *ngFor="let hotDrink of hotDrinksAvailable">
              <li class="list-group-item list-group-item-action">{{hotDrink}}</li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
