<section>
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h1 class="display-5">A basic Angular app</h1>
        <hr>
      </div>
    </div>
    <div class="row align-items-center text-center">
      <div class="col">
        <button class="btn btn-outline-dark pill-left-side" routerLink="/train-coach/pantry" type="button">
          Go to Pantry
        </button>
      </div>
      <div class="col">
        <figure>
          <img alt="Angular resolver" class="rounded img-fluid h-75" src="/assets/images/ang-logo.png">
        </figure>
      </div>
      <div class="col">
        <button class="btn btn-outline-danger pill-right-side" routerLink="/train-coach/luggage" type="button">
          Go to Luggage
        </button>
      </div>
    </div>
  </div>
</section>
